* {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #0F0E47;
  height: 100vh;
}

main {
  width: 90vw;
  height: 90vh;
  background: linear-gradient(to bottom, #0F0E47, #302D5A);
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  color: #fff;
  overflow: hidden;
}

.logo {
  display: block;
  margin: 0 auto;
  border-radius: 2%;

}


.chat-box {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  padding-right: 8px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  display: flex;
  width: 100%;
}

.message.left {
  justify-content: flex-start;
}

.message.right {
  justify-content: flex-end;
}

.bubble {
  padding: 0.75rem 1rem;
  border-radius: 16px;
  background-color: #f1f1f1;
  max-width: 80%;
  word-wrap: break-word;
  white-space: pre-wrap;
  box-shadow: #959da533 0 8px 24px;
  color: #383838;
}

.bubble.user {
  background-color: #E1F4FFFF;
  border-radius: 20px 20px 0 20px;
}

.bubble.assistant {
  background-color: #dce7ff;
  border-radius: 20px 20px 20px 0;
}

.chat-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}


.chat-input input {
  width: 70%;
  max-width: 400px;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  color: #383838;
}

.chat-input button {
  padding: 0.75rem 1rem;
  border-radius: 8px;
  background-color: #2d32a9;
  color: white;
  border: none;
  font-size: 15px;
}


input:focus {
  outline: none;
}
.back-button {
  align-self: flex-start;
  margin-bottom: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.back-button:hover {
  color: #ccc;
}
